.container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  margin-right: 20px; /* Add margin to create space between title and search/filter section */
}

.title {
  margin: 0;
  color: #fff;
}

.subtitle {
  color: #bbb;
}

.searchFilterContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchInput {
  width: 400px;
}

.employeeList {

  margin-top: 20px;
  display: flex;
flex-direction: column;
  align-items: center;
  justify-content: center;
}
